/* amethysta-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Amethysta';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/amethysta-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* afacad-flux-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Afacad Flux';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/afacad-flux-v4-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* afacad-flux-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Afacad Flux';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/afacad-flux-v4-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* afacad-flux-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Afacad Flux';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/afacad-flux-v4-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {font-size: 16px;}

body {
  font-family: 'Afacad Flux', sans-serif;
  font-weight: false;
  line-height: 1.65;
  color: white;
  background-color: black;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Afacad Flux', sans-serif;
  font-weight: true;
  line-height: 1.15;
  text-align: center;
}

h1,
.text-size-h1 {
  font-family: 'Amethysta', Garamond, serif;
  font-weight: 700;
  margin-top: 70px;
  font-size: 3.05em;
}

h2,
.text-size-h2 { 
    font-family: 'Amethysta', Garamond, serif;
    font-size: 2.44em; 
}

h3,
.text-size-h3 { 
    font-family: 'Amethysta', Garamond, serif;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 1.95em; 
}

h4,
.text-size-h4 { 
    font-size: 1.56em; 
}

h5,
.text-size-h5 {
    font-size: 1.25em; 
}

.text-caption { 
    font-size: 0.8em; 
}

p {
    text-align: center;
    font-family: 'Afacad Flux', sans-serif;
    font-size: 1em;
    margin-top: 0;
}

small,
.text-small {
  font-size: 0.64em;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    font-size: 18px;
    font-family: 'Amethysta', Garamond, serif;
    padding: 10px;
    color: black;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    margin-top: -5px;
}

ul a {
  color: black;
  text-decoration: none;
}

ul a:visited {
  color: black;
}

footer {
    font-family: 'Afacad Flux', sans-serif;
    padding: 10px;
    color: black;
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
}

.townHall {
    background-image: url(../images/townHall_invert.png);
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 650px;
    width: 85%;
    max-width: 2000px;
}

.welcome {
    color: black;
    background-color: white;
    border-radius: 20px;
    width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    top: 425px;
    left: 13%;
    max-height: fit-content;
    min-width: 300px;
}

.content {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  padding-top: 10px;
}

.newsborder {
  color: black;
  background-color: white;
  padding-top: 6px;
  padding-bottom: 26px;
  border-radius: 15px;
}

.news {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 8px;
  margin-bottom: 20px;
  padding-top: 10px;
}

.news div {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  width: 300px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 200px;
  border-radius: 10px;
}

.news .pup {
  background-image: linear-gradient(rgba(255, 255, 255, .25), rgba(255, 255, 255, .75)), url(../images/pup_invert.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.news .wolves {
  background-image: linear-gradient(rgba(255, 255, 255, .25), rgba(255, 255, 255, .75)), url(../images/baseball_invert.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.news .genevieve {
  background-image: linear-gradient(rgba(255, 255, 255, .25), rgba(255, 255, 255, .75)), url(../images/Genevieve_invert.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.news .stuco {
  background-image: linear-gradient(rgba(255, 255, 255, .25), rgba(255, 255, 255, .75)), url(../images/stuco_invert.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.news .anemia {
  background-image: linear-gradient(rgba(255, 255, 255, .25), rgba(255, 255, 255, .75)), url(../images/hospital_invert.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.news .georgia {
  background-image: linear-gradient(rgba(255, 255, 255, .25), rgba(255, 255, 255, .75)), url(../images/Mary_Flora_Bell.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.news .blood {
  background-image: linear-gradient(rgba(255, 255, 255, .25), rgba(255, 255, 255, .75)), url(../images/blood_invert.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.news .steam {
  background-image: linear-gradient(rgba(255, 255, 255, .25), rgba(255, 255, 255, .75)), url(../images/steam_invert.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.news .jovancito {
  background-image: linear-gradient(rgba(255, 255, 255, .25), rgba(255, 255, 255, .75)), url(../images/heart_invert.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.news .strikers {
  background-image: linear-gradient(rgba(255, 255, 255, .25), rgba(255, 255, 255, .75)), url(../images/Whitney_invert.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.news .reeds {
  background-image: linear-gradient(rgba(255, 255, 255, .25), rgba(255, 255, 255, .75)), url(../images/reeds_invert.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.news .fun {
  background-image: linear-gradient(rgba(255, 255, 255, .25), rgba(255, 255, 255, .75)), url(../images/fun_invert.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.join {
  padding-top: 20px;
}

.info {
  display: flex;
  flex-flow: row no-wrap;
  justify-content: space-around;
  background-color: white;
  color: black;
  margin-bottom: -1%;
  margin-left: -15%;
  margin-right: -15%;
}