body {
    color: white;
    background-color: black;
}

h1, h2, h3, h4, h5, h6, p {
    text-align: center;
}

footer {
    padding: 10px;
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.townHall {
    background-image: url("images/townHall_invert.png");
    height: 400px;
    width: 1000px;
}