footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-right: 10px;
}